[GLOBAL]
pants_version = "2.31.0a0"
backend_packages.add = [
  "pants.backend.build_files.fmt.black",
  "pants.backend.plugin_development",
  "pants.backend.python",
  "pants.backend.python.lint.docformatter",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8",
  "pants.backend.python.lint.isort",
  "pants.backend.python.typecheck.mypy",
]

[python]
interpreter_constraints = ["==3.11.*"]
enable_resolves = true
pip_version = "latest"
default_resolve = "pants-2.31"

[python.resolves]
"pants-2.31" = "3rdparty/python/pants-2.31.lock"
"pants-2.30" = "3rdparty/python/pants-2.30.lock"
"pants-2.29" = "3rdparty/python/pants-2.29.lock"
"pants-2.28" = "3rdparty/python/pants-2.28.lock"
"pants-2.27" = "3rdparty/python/pants-2.27.lock"
pytest = "3rdparty/python/pytest.lock"
mypy = "3rdparty/python/mypy.lock"

[python-bootstrap]
search_path = ["<PYENV>"]

[python-infer]
unowned_dependency_behavior = "error"

[python-repos]
find_links = ["https://wheels.pantsbuild.org/simple"]

[pex-cli]
version = "v2.87.0"
known_versions = [
  "v2.87.0|macos_arm64|5512aa085081cb90ae399a5190f2d7029225d39e0911d81d1e07b3060dc1536b|4981159",
  "v2.87.0|macos_x86_64|5512aa085081cb90ae399a5190f2d7029225d39e0911d81d1e07b3060dc1536b|4981159",
  "v2.87.0|linux_x86_64|5512aa085081cb90ae399a5190f2d7029225d39e0911d81d1e07b3060dc1536b|4981159",
  "v2.87.0|linux_arm64|5512aa085081cb90ae399a5190f2d7029225d39e0911d81d1e07b3060dc1536b|4981159",
]

[pytest]
args = ["--no-header", "-vv"]
install_from_resolve = "pytest"
requirements = ["//3rdparty/python:pytest"]

[mypy]
install_from_resolve = "mypy"

[source]
root_patterns = ["/src/python"]

[anonymous-telemetry]
enabled = false

[flake8]
config = "build-support/flake8/.flake8"
